        @font-face {
            font-family: 'co-headline';
            src: url('./fonts/Co\ Headline.otf') format('opentype');
        }
        
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'co-headline';
            font-size: 12px;
            background-color: #826;
            position: relative;
            background-image: url(./imagen/fondo_access.jpg);
            background-size: contain;
           /*  background-position: center center; */
            background-repeat: repeat;
        }

        
             body::before {
                content: "";
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                z-index: 0;
            } 


        .container {
            position: relative;
            text-align: center;
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }
        h1 {
            margin-bottom: 20px;
            align-items: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }   
        label {
            align-self: flex-start;
            margin-bottom: 4px;
            font-weight: bold;
            color: #333;
        }
        input, button {
            margin: 10px 0;
            padding: 10px;
            width: 300px;
            font-size: 16px;
            border-radius: 8px;
        }
        button {
            background-color: #9e9e9e;
            color: black;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #757575;
        }

        @media (max-width: 1080px) {
    form {
        padding: 20px;
    }
    body {
        background-color: #826;
        background-image: url(./imagen/fondo_access.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    input, button {
        width: 100%;
        font-size: 14px;
    }
}
